[workspace]
resolver = "2"
members = [
    "crates/engine_core",
    "crates/renderer",
    "crates/components",
    "crates/input",
    "crates/audio",
    "crates/tooling/*", "crates/builtin_states", "crates/insiculous_2d",
]

[workspace.dependencies]
log = "0.4.27"
anyhow = "1.0.98"
winit = "0.30.9"
glam = "0.30.2"
once_cell = "1.21.3"
wgpu = "25.0.0"
hecs = "0.10.5"
pollster = "0.4.0"
