[package]
name    = "insiculous_2d"
version = "0.1.0"
edition = "2021"

[workspace]
resolver = "2"
members = [
    "crates/engine_core",
    "crates/renderer",
    "crates/ecs",
    "crates/input",
]

[workspace.dependencies]
# Common dependencies
log = "0.4"
env_logger = "0.11.8"
wgpu = "26.0.1"
winit = "0.30"
thiserror = "2.0"
tokio = { version = "1.45.1", features = ["full"] }

[dependencies]
tokio = { workspace = true }
engine_core = { path = "crates/engine_core" }
renderer = { path = "crates/renderer" }
ecs = { path = "crates/ecs" }
input = { path = "crates/input" }
log = { workspace = true }
env_logger = { workspace = true }
