[package]
name = "renderer"
version = "0.1.0"
edition = "2024"

[dependencies]
wgpu = { workspace = true }
winit = { workspace = true }
hecs = { workspace = true} 
components = { path = "../components"}